@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');

/*----------------------------------------------------------
css hard reset by https://meyerweb.com/eric/tools/css/reset/
----------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------
estilos de verdade
----------------*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	background-color: #fffff;
}

header {
	height: 50vh;
	margin-bottom: 2vh;

	background-image: url(https://gdb.voanews.com/4966D6AF-8B3C-4D6B-BE3C-353614CCC1A1_w1200_r1.jpg);
	background-position-y: 37%;
	background-size: cover;
	background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p, span, ol, ul, li, footer, header {
	color: black;
	font-family: 'IM Fell English', serif;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 0px 30px rgba(50, 0, 0, 0.5);
}

.header-text {
	display: inline;
	color: white;
	align-content: center;
	text-align: center;
}

span.header-text {
	font-size: 52px;
	margin-top: 12px;
	font-family: 'UnifrakturMaguntia', cursive;
}

h1.header-text {
	font-size: 72px;
	margin-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 12px 10vw 10px 10vw;
}

h1 {
	font-size: 72px;
}

h2 {
	font-size: 60px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 36px;
}

h5 {
	font-size: 24px;
}

p, span, ol, ul{
	font-size: 22px;
	margin: 12px 8vw 24px 8vw;
}

#autors {
	color: #444;
	display: inline-block;
	margin-bottom: 8vh;
}

.final-paragraph {
	margin-bottom: 20vh;
}

li {
	margin-left: 5vw;
	margin-right: -3vw;
}

ul {
	list-style: circle;
}

ol {
	list-style: upper-roman;
}

img {
	width: 50vw;
	margin: 28px 25vw 28px 25vw;
	border-radius: 12px;
	box-shadow: rgba(40, 0, 0, 0.15) 0px 14px 28px, rgba(40, 0, 0, 0.12) 0px 10px 10px;;
}

hr {
	border: 1px solid black;
	width: 80vw;
	margin-left: 10vw;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	width: 100vw;
	background-color: black;
	padding: 20px 0px 20px 0px;
}

footer a {
	font-size: 24px;
	color: white;
	margin-left: 8vw;
}

@media(max-width: 702px) {
	header {
		height: 17vh;
	}

	span.header-text {
	font-size: 28px;
	margin-top: 10px;
	font-family: 'UnifrakturMaguntia', cursive;
	}

	h1.header-text {
		font-size: 32px;
		position: relative;
		bottom: 12px;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 6px 5vw 6px 5vw;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 26px;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 18px;
	}

	h5 {
		font-size: 16px;
	}

	p, span, ol, ul{
		font-size: 14px;
		margin: 6px 8vw 12px 8vw;
	}

	#autors {
		color: #444;
		display: inline-block;
		margin-bottom: 3.5vh;
	}

	.final-paragraph {
		margin-bottom: 4vh;
	}

	#bacia-zambeze {
		width: 70vw;
		height: 50vw;
	}
	img {
		width: 70vw;
		margin: 20px 15vw 20px 15vw;
		border-radius: 8px;
		box-shadow: rgba(40, 0, 0, 0.15) 0px 7px 14px, rgba(40, 0, 0, 0.12) 0px 5px 5px;
	}

	hr {
		border: 1px solid black;
		width: 90vw;
		margin-left: 5vw;
		margin-top: 5px;
		margin-bottom: 10px;
	}

	footer {
		width: 100vw;
		background-color: black;
		padding: 16px 0px 16px 0px;
	}

	footer a {
		font-size: 16px;
		color: white;
		margin-left: 8vw;
	}
}